In [1]:
#Answer 1

km = int(input("Enter Kilometer: "))
miles = km*0.62
print("Miles = " , miles)

Enter Kilometer: 5
Miles =  3.1

In [2]:
#Answer 2
Celsius = int(input("Enter Celsius : "))

fahrenheit = (Celsius * 9/5) +32
print(fahrenheit)

Enter Celsius : 32
89.6

In [3]:

#Answer 3
import calendar
yy = int(input("Enter year = "))
mm = int(input("Enter month in number = "))
print(calendar.month(yy,mm))

Enter year = 2023
Enter month in number = 01
    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [4]:
#Answer 4 
# Formula:
# x=-b+-sqrt(b**2-4ac)/2*a
import cmath
a=int(input("Enter a = "))
b=int(input("Enter b = "))
c=int(input("Enter c = "))
discriminant = (b**2)-(4*a*c)
sol_one = (-b+cmath.sqrt(discriminant))/(2*a)
sol_two = (-b-cmath.sqrt(discriminant))/(2*a)
print(sol_one ,",", sol_two)

Enter a = 5
Enter b = 3
Enter c = 1
(-0.3+0.33166247903553997j) , (-0.3-0.33166247903553997j)

In [5]:
#Answer 5 
first_variable = int(input("First Variable ="))
second_variable = int(input("Second Variable ="))
print("First Variable Before swap  : {} \n Second variable Before Swap  : {}".format(first_variable,second_variable))
first_variable , second_variable = second_variable , first_variable

print("After Swap : \n First Variabe : {} \n  Second Variable : {}".format(first_variable , second_variable))

First Variable =4
Second Variable =5
First Variable Before swap  : 4
 Second variable Before Swap  : 5
After Swap :
 First Variabe : 5
  Second Variable : 4